.nostyle {

    color: inherit;
    text-decoration: inherit;
    
}


.nostyle:focus {

    color: inherit;
    text-decoration: inherit;
    
}

.nostyle:hover {

    color: inherit;
    text-decoration: inherit;
    
}

.nostyle:visited {

    color: inherit;
    text-decoration: inherit;
    
}

.nostyle:link {

    color: inherit;
    text-decoration: inherit;
    
}
