@media (max-width: 1000px) {
  .img3 {
    display: none !important;
  }
  .form {
    max-width: 90% !important;
    margin-left: 5% !important;
    margin-top: 30px !important;
  }
  .todo {
    margin-bottom: 0px !important;
  }
}
