@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,400;0,500;1,400;1,500&display=swap");

#root {
  width: 100%;
  margin: auto;
  height: 100vh;
  text-align: center;
  height: max-content;
}

html.light {
  background-color: rgb(255, 255, 255);
  color: black !important;
}

html.dark {
  background-color: rgb(0, 0, 0);
  color: white !important;
}

/* FONT FACES */
@font-face {
  font-family: "BebasNeueCyrillic";
  src:
    local("BebasNeueCyrillic"),
    url("./Fonts/BebasNeueCyrillic/Bebas-Neue-Cyrillic.ttf") format("ttf");
}
@font-face {
  font-family: "NeueMachina";
  src:
    local("NeueMachina"),
    url("./Fonts/NeueMachina/NeueMachina.otf") format("otf");
}
@font-face {
  font-family: "BarlowBold";
  src:
    local("BarlowBold"),
    url("./Fonts/Barlow/Barlow-Bold.ttf") format("ttf");
}
@font-face {
  font-family: "BarlowRegular";
  src:
    local("BarlowRegular"),
    url("./Fonts/Barlow/Barlow-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "AntonRegular";
  src:
    local("AntonRegular"),
    url("./Fonts/Anton/Anton-Regular.ttf") format("ttf");
}

html {
  --section-background-color: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.582),
    rgba(12, 8, 24, 0.904)
  );

  --image-gradient: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.678),
    rgba(12, 10, 22, 0.863)
  );

  --imp-text-color: #c770f0;
}

.purple {
  color: var(--imp-text-color) !important;
}

button:focus {
  box-shadow: none !important;
}

.shadow-custom {
  text-shadow: 5px 5px 7px rgba(255, 99, 71, 0.6);
}
.shadow-custom1 {
  text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.6);
}

.pin {
  position: relative;
}

.pin-icon {
  color: red; /* Color del ícono de ubicación */
  font-size: 24px; /* Tamaño del ícono */
}

.pin-text {
  position: absolute;
  top: 30px; /* Ajusta la posición vertical del texto */
  left: -50px; /* Ajusta la posición horizontal del texto */
  width: 100px; /* Ancho del contenedor del texto */
  text-align: center; /* Centra el texto dentro del contenedor */
}

.a-header {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.a-header:hover {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* ------------- RUTINAS ------------- */

.rutinas-titulo {
  background-color: #ff914d;
  padding: 10px;
  text-align: center;
}

.rutinas-titulo h2 {
  color: black;
  font-size: 40px;
  text-align: center;
}
.rutinas-titulo h3 {
  font-family: "AntonRegular", AntonRegular;
  font-size: 20px;
  color: black;
  text-align: center;
}

.rutinas-button {
  position: absolute;
  top: 55%;
  left: 50%;
  width: 30%;
  transform: translate(-50%, -50%);
  background-color: #f87b15;
  color: white;
  border-radius: 20% 0%;
  padding: 10px 20px;
  font-size: 25px;
  height: 10%;
  font-family: "AntonRegular", AntonRegular;
}
.rutinas-button:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  transform: translate(-50%, -50%) scale(1.1);
  transition: 0.4s ease-in-out;
}

.custom-video {
  width: 100%;
  max-height: 1200px;
}

/* -------------- Categorias ------------ */
.opciones {
  font-size: 2.25rem;
  font-weight: 700;
}

.categoria h1 {
  color: #ff914d;
  padding: 10px;
  text-align: center;
}
.categoria h3 {
  padding-right: 10px;
  width: 55%;
  margin: 0 auto;
  text-align: center;
  font-family: "AntonRegular", AntonRegular;
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.1s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

/*------------Login -------------*/

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: rgba(24, 24, 24, 0.795);
  z-index: 1200;
  display: none;
}

.overlay.open {
  display: block;
}

.create-landing {
  font-family: "futuraStd";
  margin-top: 30px;
  font-size: 20px;
  margin-bottom: 20px !important;
  letter-spacing: 3px;
}

.toggleMenuLanding {
  position: fixed !important;
  top: 0;
  right: 0;
  width: 530px;
  height: 100vh;
  background-color: #f5f5f562;
  box-shadow: 8px 0 10px -6px rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(5px);
  z-index: 1201;
  text-align: center;
  transition: transform 0.5s ease-out;
  transform: translateX(+100%);
}
.toggleMenuLanding.open {
  transform: translateX(0);
}

/* -------------- Register -------------- */
.card-login {
  width: 530px;
  background: #ffffff8c;
  backdrop-filter: blur(5px);
  color: rgb(80, 80, 80);
  font-weight: 100 !important;

  letter-spacing: 2px;
}

.row {
  height: 80px;
}

.form-outline {
  position: relative;
}

.form-control {
  border: none;
  margin-top: 10px;
  margin: 2px;
  border-radius: 6px;
  padding: 7px;
  background-color: #c0c0c0;
  box-shadow:
    1px 1px 1px orange,
    -1px -1px 1px orange;
  font-size: 13px;
  color: rgb(117, 117, 117);
  letter-spacing: 1.5px;
  font-weight: 300;
}
input.form-control:focus {
  background-color: #eeeeeebb;
  color: #535353;
  border: 3px solid rgba(241, 241, 241, 0.822);
  outline: none !important;
  box-shadow: none;
}

.form-control::placeholder {
  color: #000000;
}

.form-label {
  font-size: 14px;
  margin-top: 4px;
  color: rgb(82, 82, 82);
  font-weight: 200 !important;
}

.password-icon {
  position: absolute;
  right: 10px;
  top: 25%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.5rem;
  color: #555;
}
.container-btn {
  gap: 30px;
  margin-bottom: 20px;
}

.btn-landing {
  background: rgb(247, 85, 185);
  color: white;
  border: none;
  width: 200px;
  height: 35px;
  border-radius: 7px;
}

.btn-landing.btn-lan {
  background: rgb(145, 143, 143);
}

.boxLog {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 5px;
  background: transparent;
}

.container-login {
  background: transparent;
  border: none;
  width: 100px;
  height: 100px;
}

.google {
  cursor: pointer;
  transition: all 0.6s ease;
  z-index: 1001;
  justify-content: center;
}

.google:hover {
  scale: 1.1;
}

.imgGoogle {
  width: 100%;
}

.loginGoogle {
  background: transparent;
}

.gradiente1 {
  background-image: linear-gradient(to right, black, black, #ff914d);
}

.gradiente2 {
  background-image: linear-gradient(
    to right,
    rgb(255, 253, 253),
    rgb(255, 255, 255),
    #ff914d
  );
}

.bg-navbar {
  background-color: #000000; /* Color de fondo oscuro */
}

.bg-white {
  background-color: #fff; /* Color de fondo claro */
}

.ctm-color1 {
  color: #000000;
}

.ctm-color2 {
  color: #ffffff;
}

#themeToggle {
  text-decoration: none;
}

#themeToggle:hover {
  text-decoration: none;
  border: none;
}

.black-sedes {
  background-color: #0c0c0c;
  color: #ffffff;
}

.white-sedes {
  background-color: #f1f1f1;
  color: #000000;
}

/* -------------- Coach -------------- */

.userDropdown a {
  font-size: 11px !important;
  letter-spacing: 1px;
}

.userData {
  font-size: 11px;
  letter-spacing: 1px;
}

/* -------------- card seccion 6 -------------- */

.box {
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 15px;
  margin: 0 auto;
}
.card-s6 {
  position: relative;
  width: 300px;
  height: 350px;
  background: #e97a13;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.card-s6:before,
.card-s6:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #e97a13;
  transition: 0.5s;
  z-index: -1;
}
.card-s6:hover:before {
  transform: rotate(20deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}
.card-s6:hover:after {
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}
.card-s6 .imgBx {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: #222;
  transition: 0.5s;
  z-index: 1;
}

.card-s6:hover .imgBx {
  bottom: 30px;
  top: 30px;
  left: 30px;
  right: 30px;
}

.card-s6 .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-s6 .details {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 60px;
  text-align: center;
}

.card .details h2 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 20px;
  color: #777;
  text-transform: uppercase;
}

.card .details h2 span {
  font-weight: 500;
  font-size: 16px;
  color: #f38695;
  display: block;
  margin-top: 5px;
}

/* -------------- Toggle menu -------------- */

.menu-header {
  display: flex;
  flex-direction: column;
}

.hamburger {
  display: none; /* Oculta el botón de hamburguesa en desktop */
}

@media (min-width: 768px) {
  .menu-header {
    display: flex !important;
    flex-direction: row;
    background-color: transparent !important;
    position: relative !important;
  }
  #themeToggle {
    padding-top: 1.5rem;
  }
}

@media (max-width: 768px) {
  .section6 {
    display: none !important;
  }

  .img-seccion6 {
    display: none !important;
  }
  .logo {
    margin-left: 0px !important;
  }

  .wrapper-footer {
    padding-left: 0% !important;
    padding-right: 0% !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tittle-categoria {
    font-size: 45px !important;
  }

  .container-footer {
    width: 100% !important;
  }
  .sem {
    margin-left: 5px !important;
  }

  .borde-inf {
    justify-content: left !important;
  }

  .derechos {
    font-size: 0.7rem;
  }

  .fawpp {
    height: auto !important;
    width: 85px !important;
    margin-bottom: 10px !important;
  }

  .tittle-footer {
    font-size: 20px !important;
    margin-bottom: 0.5rem !important;
  }

  .menu-header {
    display: none;
  }

  .li-bb {
    border-bottom: 2px solid rgb(255, 162, 100) !important;
    height: 5vh;
  }

  .li-bb a {
    padding-top: 7px;
  }

  .iniSesion {
    margin-top: 70px !important;
    overflow-y: scroll !important;
    padding-bottom: 100px;
  }

  .internal-modal-login {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .container1-footer {
    display: flex !important;
    flex-direction: row !important;
    font-size: 80%;
    height: 20vh;
    padding: 2px !important;
  }

  .container1-footer > div {
    height: 15vh !important;
    justify-content: center !important;
    align-items: center !important;
    border-right: 2px solid rgba(163, 99, 4, 0.753) !important;
    padding-left: 0.2rem;
    text-align: center;
  }

  .container1-footer h3 {
    font-size: 0.5rem !important;
    display: none;
  }

  .container1-footer link {
    font-size: 8px;
  }

  .hamburger {
    display: block; /* Aparece el botón de hamburguesa en mobile */
  }

  .d-rutinas {
    display: none;
  }
  .description-about {
    display: none;
  }

  .text-footer {
    display: none;
  }

  #themeToggle {
    padding-top: 5px;
    margin-right: 4rem;
  }

  .menu-header.open .hamburger {
    display: block;
    gap: 0px;
  }

  .rutinas-button {
    padding: 0.8rem !important;
    width: 80% !important;
    font-size: 0.8rem !important;
    border: 1px solid #050505 !important;
    overflow: hidden;
  }
}
.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #db721c;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
}
.hamburger:hover {
  background-color: #2642af;
}

@media (max-width: 768px) {
  .iniSesion {
    max-width: 100% !important;
  }
}

.iniSesion {
  cursor: pointer !important;
}

@media (max-width: 400px) {
  .ic-up {
    margin-bottom: 35% !important;
  }
}

/* ---------------------------------------------------------------- */

.ag-format-container {
  width: 100%;
  margin-left: auto;
}

.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 50px 0;
}
.ag-courses_item {
  /* -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px); */

  margin: 0 15px 30px;

  overflow: hidden;

  border-radius: 28px;
}
.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #292929;

  overflow: hidden;

  position: relative;
}
.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #fff;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;

  overflow: hidden;

  font-weight: bold;
  font-size: 30px;
  color: #fff;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date-box {
  font-size: 18px;
  color: #fff;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date {
  font-weight: bold;
  color: #ff914d;

  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #f5650b60;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #3ecd5e;
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e44002;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #952aff;
}
.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #cd3e94;
}
.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #4c49ea;
}

@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }
}
@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }
  .card-calendar h5 {
    font-size: 0.7rem;
  }
}

/* -------------- Seccion 6 -------------- */

.card-calendar {
  width: 100%;
  height: max-content;
  font-weight: bold;
  font-size: 1.5rem;
  border: none;
}
.card-calendar h5 {
  white-space: pre-line;
}

.card-title {
  font-family: poppins;
  font-size: 1rem;
}

.card-body {
  overflow-x: hidden;
  width: fit-content !important;
}

.img1-calendar,
.img2-calendar {
  min-width: 60px;
  max-width: 60px;
  height: 60px;
  border: none;
  border: 1px solid rgb(68, 68, 245);
  border-right: none;
  margin: 0;
  padding: 0;
}

/* -------------- Mensajeria -------------- */

/* ChatStyles.css */
.wrapper {
  display: flex;
}

.userList {
  flex: 1;
  padding: 20px;
}

.chat {
  flex: 2;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #4e4e4e;
  height: 500px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.chat-messages {
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 10px;
  flex-grow: 1;
}

input[type="text"] {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 10px;
}

/* crear rutina*/

.crearRutina {
  border-top: none;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  background-color: rgb(12, 100, 4);
  border: 10px solid rgb(12, 100, 4);
  font-family: poppins;
}

.color-gray {
  color: #a3a3a3 !important;
}
#addRutine {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 5%;
  border: 1px solid gray;
  border-radius: 15rem;
}

.formRutines {
  font-family: poppins;
  font-weight: bold;
}

.card-drop {
  background-color: rgb(194, 189, 189);
  border-radius: 15rem !important;
  max-width: 90%;
  margin: 0 auto;
}

.card-day {
  border-radius: 10rem;
}

.btn-save-rutine {
  background-color: green !important;
  font-size: 1.5rem;
  font-family: poppins;
}

.description-add-rutine {
  border-radius: 0 10rem 0 10rem;
  width: 70%;
  margin: 0 auto;
  font-size: 1.2rem;
  padding: 1.3rem;
}

.exercise-list {
  font-size: 1.2rem;
  font-family: poppins;
  font-weight: bold;
  border: none !important;
  border: 1px solid gray !important;
}

.exercise-list::-webkit-scrollbar {
  width: 2px;
}

.exercise-list::-webkit-scrollbar-thumb {
  background-color: #f3c061;
  border-radius: 8px;
}

.exercise-list::-webkit-scrollbar-track {
  background-color: gray;
}

.text-card-drop {
  font-size: 1.2rem;
  font-family: poppins;
}

.modal-exercise {
  height: auto !important;
  width: 40% !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(12, 100, 4);
  z-index: 1000;
  overflow-y: auto; /* Añadido para permitir desplazamiento si el contenido es largo */
}

.imgs-exercise-list > img {
  width: 55px;
  height: 55px;
}

.imgs-exercise-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img1-exercise-list {
  border-top-right-radius: 0% !important;
  border-bottom-right-radius: 0% !important;
}

.img2-exercise-list {
  border-top-left-radius: 0% !important;
  border-bottom-left-radius: 0% !important;
}

.img2-exercise-day {
  border-radius: none;
}

.img1-exercise-day {
  border-radius: none;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-right: 1px solid gray;
}
.lista-usuarios {
  font-family: poppins;
}

.text-table {
  font-size: 1.5rem;
}

.name-group > label {
  color: blue !important;
}

.tittle-module {
  font-size: 2rem;
  font-family: poppins;
  font-weight: bold;
}

.user-calendar {
  padding: 1rem;
  padding-top: 0px;
}

.rutineTittle {
  font-size: 2rem;
  font-family: poppins;
  font-weight: bold;
}

.name-rutine-calendar {
  border-radius: 0 10rem 0 10rem;
  width: 15%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 1.2rem;
  padding: 1.3rem;
  font-family: poppins;
  font-weight: bold;
  margin-bottom: 1rem;
}

.select-exercise-type {
  width: 50% !important;
}
.btn-add-exe {
  background-color: rgb(3, 3, 158) !important;
  width: fit-content;
  height: 5vh;
  font-family: poppins;
  font-weight: bold;
  border-radius: 1rem;
}

.btn-add-exe:hover {
  background-color: rgb(135, 135, 163) !important;
}

/* -------------- Query -------------- */

@media screen and (max-width: 1350px) {
  .description-add-rutine {
    display: none;
  }

  .name-rutine-calendar {
    display: none;
  }

  .formRutines {
    padding: 0% !important;
  }

  .customLayout {
    padding: 2px !important;
  }

  #addRutine {
    margin: 0 auto !important;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }
  .exercise-list {
    width: 30% !important;
  }

  .img1-exercise-day {
    width: 100px !important;
    height: 100px !important;
  }
  .img2-exercise-day {
    width: 100px !important;
    height: 100px !important;
  }

  .input-series-reps {
    border-top-right-radius: 0% !important;
    border-bottom-right-radius: 0% !important;
  }
  .input2-series-reps {
    border-top-left-radius: 0% !important;
    border-bottom-left-radius: 0% !important;
  }
}

@media screen and (max-width: 1250px) {
  .img1-exercise-day {
    width: 90px !important;
    height: 90px !important;
  }
  .img2-exercise-day {
    width: 90px !important;
    height: 90px !important;
  }
  .input-series-reps {
    width: 130px !important;
    font-size: 0.8rem !important;
  }
  .input2-series-reps {
    width: 130px !important;
    font-size: 0.8rem !important;
  }
  .img1-calendar,
  .img2-calendar {
    min-width: 40px;
    max-width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 1150px) {
  .card-day {
    border-radius: 1rem;
  }
  .input-series-reps {
    width: 50% !important;
    font-size: 0.8rem !important;
    margin-left: 45% !important;
    height: 80%;
  }
  .input2-series-reps {
    width: 50% !important;
    font-size: 0.8rem !important;
    margin-right: 45% !important;
    height: 80%;
  }

  .img2-calendar {
    display: none !important;
  }
  .img1-calendar {
    border-radius: 50%;
  }
}

@media screen and (max-width: 1000px) {
  .exercise-list {
    width: 35% !important;
    font-size: 1rem !important;
  }
  .ejercicio {
    border-radius: 1.5rem !important;
  }

  .input-series-reps {
    width: 100px !important;
  }
  .input2-series-reps {
    width: 100px !important;
  }

  .img1-exercise-day {
    width: 70px !important;
    height: 70px !important;
  }
  .img2-exercise-day {
    width: 70px !important;
    height: 70px !important;
  }
  .text-table {
    font-size: 1.25rem;
    padding: 5px !important;
  }
}

@media screen and (max-width: 900px) {
  .card-drop {
    max-width: 100% !important;
  }

  .series-reps {
    font-size: 0.5rem !important;
  }
  .exercise-in-day {
    border-radius: 1.5rem !important;
  }

  .header-client {
    font-size: 0.5rem !important;
  }
  .link-header-client {
    font-size: 1.2rem !important;
  }
  .exercise-list {
    width: 35% !important;
    font-size: 1rem !important;
  }
  .ejercicio {
    border-radius: 1.5rem !important;
  }

  .input-series-reps {
    width: 80px !important;
  }
  .input2-series-reps {
    width: 80px !important;
  }

  .img1-exercise-day {
    border-radius: 50% !important;
    border: none;
    margin-left: 1rem;
    padding: 0.2rem;
  }
  .img2-exercise-day {
    border-radius: 50% !important;
    padding: 0.2rem;
  }
  .exercise-list {
    padding: 0% !important;
    margin: 0% !important;
    font-size: 0.9rem !important;
  }

  .img1-exercise-list {
    width: 50px !important;
    height: 50px !important;
  }
  .img2-exercise-list {
    width: 50px !important;
    height: 50px !important;
  }
  .text-table {
    font-size: 100%;
    padding: 2px !important;
  }
  .tittle-module {
    font-size: 1.5rem;
  }
  .userInfo {
    width: 25px !important;
    height: 25px !important;
  }
  .userDelete {
    width: 25px !important;
    height: 25px !important;
  }
  .img1-calendar {
    display: none;
  }
}

@media screen and (max-width: 760px) {
  .input-series-reps {
    width: 50px !important;
    height: 50px !important;
  }
  .input2-series-reps {
    width: 50px !important;
  }
  .img1-exercise-day {
    border-radius: 50% !important;
    margin-left: 3px;
    border: none;
    padding: 0rem;
    width: 50px !important;
    height: 50px !important;
  }
  .img2-exercise-day {
    display: none !important;
  }
  #addRutine {
    border: none;
    border-radius: 0%;
  }
  .text-table {
    font-size: 1rem;
    padding: 2px !important;
  }
  .add-group-listt {
    padding: 2% !important;
  }
  .text-list-exercise {
    font-size: 0.8rem !important;
    line-height: 15px !important;
  }

  .form-control {
    font-size: 0.8rem !important;
    height: 10px !important;
  }

  .rutine-all-day {
    padding: 0% !important;
  }
}

.inputs {
  max-width: 115px !important;
}

@media screen and (max-width: 700px) {
  .exercise-list {
    max-width: 100% !important;
    font-size: 0.8rem !important;
    margin: 0 auto !important;
    padding: 0px !important;
  }
  .ejercicio {
    border-radius: 1.5rem !important;
  }

  .input-series-reps {
    width: 60px !important;
  }
  .input2-series-reps {
    width: 60px !important;
  }

  .img1-exercise-day {
    display: none !important;
  }
  .img2-exercise-day {
    display: none !important;
  }
  .table-group {
    font-size: 0.8rem !important;
  }
  .text-table {
    font-size: 0.9rem;
    padding: 0px !important;
  }
  .user-listt {
    padding: 5px !important;
  }
  .btn-header-client {
    font-size: 1rem !important;
    padding: 0.3rem !important;
  }
  .day-rutine {
    width: 90% !important;
    margin: auto;
  }
  .ejercicio {
    width: 130px;
  }
  .text-card-drop {
    font-size: 0.7rem;
    line-height: 15px !important;
    padding: 2px !important;
  }
}

@media screen and (max-width: 600px) {
  .exercise-list {
    font-size: 0.8rem !important;
    border: none !important;
    padding-right: 0.5rem !important;
  }
  .exercise-list > div {
    overflow: hidden !important;
  }
  .ejercicio {
    border-radius: 1.5rem !important;
  }

  .input-series-reps {
    width: 60px !important;
  }
  .input2-series-reps {
    width: 60px !important;
  }
  .header-client {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .link-header-client {
    font-size: 1rem !important;
    padding: 0.1rem !important;
  }

  .header-client > li {
    padding: 2px !important;
  }
  .bar-menu {
    position: absolute !important;
    top: 12%;
    left: 22%;
    margin: 0 !important;
    padding: 0 !important;
    transform: translate(-50%, -20%) !important;
    z-index: 1000;
    background-color: transparent !important;
    max-width: 80vw; /* Cambia el valor según tus necesidades */
    /* overflow-x: hidden; /* Puedes usar 'scroll' si prefieres barras de desplazamiento horizontales */
  }

  .logo {
    display: none !important;
  }
  .menu-ni-idea {
    position: relative !important;
    display: flex !important;
    margin: 0 !important;
    padding: 0 !important;
    background-color: transparent !important;
  }
  .link-header-client {
    font-size: 0.8rem !important;
    padding: 0rem !important;
  }
  .header-clientt {
    position: relative !important;
    top: 70% !important;
  }
  .img2-exercise-list {
    display: none !important;
  }
  .img1-exercise-list {
    display: none !important;
  }
  .foro {
    margin-top: 20%;
  }

  .table-userlist {
    max-width: 100px !important;
  }

  .user-listt,
  .group-listt,
  .add-group-listt,
  .edit-exercise,
  .add-exercise {
    margin-top: 15%;
    max-width: 100vw !important;
  }

  .userData {
    font-size: 10px;
    letter-spacing: 1px;
    width: 150px;
  }

  .add-group-listt > * {
    font-size: 0.5rem !important;
  }
  .formRutines,
  .editRutine,
  .profile {
    margin-top: 10%;
  }
  .btn-custom-layout {
    display: none !important;
  }
}

@media screen and (min-width: 1200px) {
  .add-exercise {
    width: 70% !important;
    margin: auto !important;
    margin-top: 5% !important;
  }
}
