/* Hoy.css */
.hoy-container {
  max-width: 800px;
  margin: 0 auto;
}

.exercise-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.exercise-card-container {
  width: 100%;
}
.cronometro {
  width: 25%;
  margin-top: 2rem;
  margin-left: 10%;
}
@media (max-width: 767px) {
  .hoy-container h2 {
    font-size: 1.5rem;
    margin-top: 5rem;
  }
  .exercise-card-images {
    flex-direction: column;
  }
  .rutinas {
    margin-top: 4rem;
  }
  .cronometro {
    margin-top: 7rem;
    width: 90%;
    margin-left: 5%;
  }
}
